body {
  font-family: 'Slabo 27px', serif;
  font-family: 'Lobster', cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dancing Script', cursive;
}
/*header styling*/
.bg-red {
  background-color: #ff0000!important;
  margin-bottom:0;
  border-color: transparent;
  border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff!important;
  font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff!important;
  border: none;
  background-color: #000;
  border-radius: 5px;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px 0;
}
/*eo header styling*/